.jumbotron {
    padding-top: 125px;
    height: 375px;
    background-image: url("/images/vikings.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(247, 243, 243);
}